.one_item {
    border: 1px solid grey;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px;
}

.one_item p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

input, select, textarea {
    padding: 8px;
    margin: auto 2px;
    display: inline-block;
    border: none;
    background: #D3D3D3;
    border-radius: 5px;
    width: 100%;
}

.submit {
    background: #228b22;
    border: none;
    border-radius: 5px;
    width: 100%;

}

.submit:hover {
    background: #90ee90;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

.return_btn {
    background: #B22222;
    padding: 10px 10px;
    width: 20%;
}

.return_btn:hover {
    background: #F08080;
}

.upload_file {
    display: flex;
    width: 70%;
}

.upload_file button {
    width: 30%;

}

/*.download_btn {
    background: #345eeb;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    width: 48%;
}

.download_btn:hover {
    background: #0eb6e9;
}*/