    <form method="POST" action="{% url 'download' %}">
        {% csrf_token %}

        <h2>Які категорії вивантажити:</h2>
        <p class='row'>
            <input id="all_items" type="checkbox" name="all_items">
            <label for="all_items">Всі об'єкти</label>
        </p>
        <p class='row'>
            <input class="category" id="all_cars" type="checkbox" name="all_cars">
            <label class="through" for="all_cars">Автомобілі</label>
        </p>
        <p class='row'>
            <input class="category" id="all_furnitures" type="checkbox" name="all_furnitures">
            <label class="through" for="all_furnitures">Меблі</label>
        </p>
        <p class='row'>
            <input class="category" id="all_bulddings" type="checkbox" name="all_bulddings">
            <label class="through" for="all_bulddings">Будівлі</label>
        </p>
        <p class='row'>
            <input class="category" id="all_office_equipments" type="checkbox" name="all_office_equipments">
            <label class="through" for="all_office_equipments">Орг.техніка</label>
        </p>
        <p class='row'>
            <input class="category" id="all_peripheres" type="checkbox" name="all_peripheres">
            <label class="through" for="all_peripheres">Периферія</label>
        </p>
        <p class='row'>
            <input class="category" id="all_PC_and_laptops" type="checkbox" name="all_PC_and_laptops">
            <label class="through" for="all_PC_and_laptops">Ноутбуки та ПК</label>
        </p>
        <p class='row'>
            <input class="category" id="all_smartphone_and_tablet" type="checkbox" name="all_smartphone_and_tablet">
            <label class="through" for="all_smartphone_and_tablet">Смартфони та Планшети</label>
        </p>
        <p class='row'>
            <input class="category" id="all_warehouse_equipment" type="checkbox" name="all_warehouse_equipment">
            <label class="through" for="all_warehouse_equipment">Складське обладнання</label>
        </p>
        <p class='row'>
            <input class="category" id="all_interior_items" type="checkbox" name="all_interior_items">
            <label class="through" for="all_interior_items">Предмети інет'єру</label>
        </p>

        <button class="submit"><i class="fa fa-download"></i> Завантажити</button>
    </form>


    <script>
    </script>
